*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
.container{
     max-width: 750px;
    margin: 0 auto;
}

body{
    background-image: url(https://static.standard.co.uk/s3fs-public/thumbnails/image/2019/06/06/15/mighty-hoopla-0606.jpg?w968);
    background-repeat: no-repeat;
    background-size: 100% 100%;
     
    width: 100%;
    height: 698px;
    
}
.box-video{
    position: relative;
    margin-top: 32px;
    width: 100%;
    height: 30em;
    
    z-index: 1;
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 698px;
    top:0;
    left: 0;

    background-color: rgba(0, 255, 0, 0.2);

}

h1 {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
    border-bottom: 1px solid white;
     
    width: fit-content;
    
    padding: 25px 15px 20px 15px;
     border-radius: 5px;
    box-shadow: 6px 5px 33px black;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    box-shadow: 6px 5px 33px black;
}


.descricao{
    margin-top: 85px;
    text-align: center;
}
.descricao h2{
    font-weight: bold;
    font-size: 30px;
}
.descricao p{
    margin-top: 20px;
}
 
footer{
   padding-top: 28px;
    margin-top: 25px;
    text-align: center;
    background-color: #ccc;
    height: 165px;
}

.botao{
    position: relative;
    z-index: 3;
    text-align: center;
    padding-top: 40px;
   
}
.contato{
    position: relative;
    z-index: 4;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 0%, rgba(255,89,0,1) 0%, rgba(255,132,0,1) 70%);
    /* line-height: 0; */
    font-size: 23px;
    padding: 10px 25px;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
}
 .contato:hover{
background-color: whitesmoke;
color: black;
background:rgba(255,132,0,1,0.2)
 }
 
   

    
@media (max-width:420px){ 


    .box-video{
    
        height: 15em;
    }

    .overlay{
            height: 500px;
}
body{
    height: 500px;
}
}

